@import '../../../../styles/variables';
@import '../../../../styles/dev-utilities/helpers';

#creation_stepper {
	@extend .fixed-box;
	background: $white;
	height: $stepper-nav-height;

	a {
		@extend .clickable;

		&:hover {
			color: $secondary_color;
		}
	}

	.step-counter-text {
		margin-top: -$stepper-progress-bar-height;
	}

	.title-section {
		display: inline-block;
		width: 50%;
		float: left;
	}

	.step-title-poll {
		max-width: 45ch;
		text-overflow: ellipsis;
		font-size: 0.85rem;
		color: #767486;
		margin-bottom: 0.7rem;
		margin-top: -8px;
		padding-left: 0;
		display: block;
		font-weight: bold;
	}

	.columns,
	.column {
		padding-top: 0;
		padding-bottom: 0;
	}

	.columns {
		padding-top: 1rem;
	}

	.step-bar-container {
		margin: 0;
		width: 100%;
		position: relative;
		top: 0;
		display: block;
		min-width: 1px;
		height: $stepper-progress-bar-height;
		background: $bar-progress-grey !important;
	}

	.step-bar-progress {
		position: relative;
		top: -$stepper-progress-bar-height;
		left: 0;
		height: $stepper-progress-bar-height;
		display: block;
		min-width: 1px;
		background: $d-blue-700;
	}

	.shortcut {
		padding: 1em;
		margin: 1em;
		display: inline-block;
		text-align: center;
		width: 4em;

		&.is-active {
			background: $font_color;
		}
	}

	.nav-button {
		margin-top: 0;
		margin-right: 1em;
		line-height: $stepper-nav-height;
		height: $stepper-nav-height;
		display: inline-block;
		padding-left: 1em;

		&:nth-last-of-type(1) {
			margin-right: 0;
		}

		&app-language-selector {
			padding-top: 1rem;
		}
	}

	#close_stepper {
		border-radius: 3em;

		.title {
			margin-top: 2rem;
			font-size: 24px;
			color: $d-primary-intense;
		}

		.description {
			color: $font_color;
			font-size: 1rem;
			line-height: 1.25rem;
		}
	}

	.step-info {
		padding: 16px 10px;
		width: 100%;
		display: block;
		background: $white;
		height: $header-nav-inner-height;

		.columns {
			padding-top: 0;
		}

		i {
			margin-left: 1ch;
		}
	}

	h2 {
		margin-bottom: 0;
	}

	.step-counter-text {
		color: $d-primary-intense;
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 600;
		display: block;
		float: left;
		width: 100%;
	}

	.top {
		height: 2rem;
	}

	.cancel-button-stepper {
		padding: 0 1rem;
		height: auto;
		border-color: $primary_color;
		color: $primary_color;
	}

	.cancel-button-confirm {
		color: $white !important;
		background: $primary_color;
		margin-left: 1rem;
		margin-top: 0.75rem;
		border-color: $primary_color !important;
		padding: 10px 30px;
	}

	.cancel-button-reject-bottom {
		color: $primary_color !important;
		border-color: $primary_color !important;
		margin-top: 0.75rem;
		padding: 10px 30px;

		&:hover {
			color: $white;
			background: $primary_color;
		}
	}

	.cancel-button-reject {
		background: none;
		color: $primary_color;
		margin-right: -1rem;
		float: right;

		.icon {
			margin-left: 1rem;
			height: 1rem;
			width: 1rem;
			margin-top: 0.15rem;
			float: right;
		}
	}
}

.lang-selector-icon {
	margin-top: 0.5rem;
	display: inline-block;
}

.logo-home-link {
	padding: 0;
}

.stepper-app-logo {
	max-width: $logo-side;
	max-height: $logo-side;
	height: $logo-side;
	width: $logo-side;
	display: inline-block;
	margin-right: 1rem;
	border-radius: 100%;

	&:hover {
		background: $d-primary;
	}
}

#display_cancel_popup_button {
	min-width: 7em; // to adapt other lang without making the nav move
	z-index: 10;
}

.menu-button {
	border: 0;
	color: $primary_color;

	img {
		margin-left: 1ch;
		float: right;
	}
}

#mobile_menu {
	top: -4px;
	width: 100%;
	background: #fff;
	padding: 0.75rem;
	height: 100vh;

	.cancel-button-stepper {
		padding: 1rem 2rem;
	}
}
