@import '../../../../../styles/variables';

.form-advanced-config {
	label {
		margin: 4px 0;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
	}
	input,
	textarea {
		margin-top: 0.5em;
		width: 100%;
	}
	#maxCountOfAnswers {
		margin-bottom: 0;
	}

	.domain-custom-box {
		border-radius: 3px;
		height: 2.7rem;
		width: 100%;
		display: block;
		padding: 0;
		margin: 0;
		border: 1px solid #4e4c59;
		background: #fff;

		.domain {
			border: solid 1px #eee;
			border-radius: 0;
			padding-left: 1rem;
			line-height: 2.5rem;
			text-align: left;
			float: left;
			min-width: 40%;
			max-width: 45%;
			background: #ddd;
			height: 2.55rem;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #767486;
		}
	}

	#custom_url {
		padding: 0.5rem;
		display: inline-block;
		background: #fff;
		margin: 0;
		float: left;
		width: 59%;
		line-height: 1.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		border: 0 !important;
	}

	.title-advanced {
		font-size: 20px !important;
		line-height: 23px !important;
		color: $secondary_color;
		margin-bottom: 1rem;
	}
	.password-box {
		label {
			margin-left: 0;
		}
	}
}
.pass-validation-text {
	color: #767486;
	line-height: 1.25rem;
	font-size: 12px;
	margin-bottom: 1rem;
	img {
		margin-right: 1rem;
		float: left;
	}
}
.aside-label {
	line-height: 1.25rem;
	min-height: 2.5rem;
	input {
		height: 1.5rem;
		width: 1.5rem;
		margin-right: 1rem;
		margin-top: 0;
		float: left;
		clear: left;
	}
	.label-text {
		line-height: 1.5rem;
		margin-left: 0;
		float: left;
		width: 85%;
	}
	&#label_areResultsPublic,
	&#label_none_can_change_answers,
	&.areResultsPublic {
		margin-bottom: -1rem !important;
	}
}

#label_creator_can_change_answers {
	margin-top: 1rem;
}
