@import './../../../../../styles/variables';

.language-selector-container {
	cursor: pointer;
	color: $primary-color;

	i {
		color: $primary-color;
	}

	#lang_selector {
		max-width: 15em;
		width: 15em !important;

		.top {
			clear: both;
			width: 100%;
		}
	}

	#lang_button_popup {
		background: transparent;
		margin-right: 0.5rem;

		&:hover {
			background: $secondary_color;
			color: $white;

			.fa {
				color: $white;
			}
		}
	}

	.lang-element {
		float: left;
		margin: 0.5em;
		border: 0;
		border-radius: 2rem;
		padding: 0.5rem;

		&:hover {
			background: $bar-progress-grey;
		}

		input {
			height: 1.5rem;
			display: none;
		}
	}

	.is-current {
		font-weight: bold;
	}

	.lang-button {
		color: $primary-color;
		border: none;
		padding: 0 1rem;
		display: block;
		line-height: $stepper-nav-height;
		height: $stepper-nav-height;
	}

	#lang_button_popup_mobile {
		.lang-button {
			width: 100% !important;
		}
	}
}
