// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

$primary: $primary_color;
$link: $wisteria;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.notification {
	margin: 1em 0;
}

.select {
	display: block !important;
	width: 80%;
}

// modal dialog
.p-dialog-content {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.p-dialog-footer {
	border-bottom-left-radius: 0.5rem !important;
	border-bottom-right-radius: 0.5rem !important;
}
.p-dialog {
	background: transparent !important;
	box-shadow: none;
}

.cancel-button-reject {
	background: none;
	color: $primary_color;
	margin-right: -1rem;
	float: right;

	.icon {
		margin-left: 1rem;
		height: 1rem;
		width: 1rem;
		margin-top: 0.2rem;
		float: right;
	}
}

.round-borders {
	border-radius: 1rem !important;
}

.img-marged-left {
	img {
		margin-left: 1rem;
	}
}

.img-marged-right {
	img {
		margin-right: 1rem;
	}
}

.button .icon:first-child:last-child,
button .icon:first-child:last-child,
.btn .icon:first-child:last-child {
	margin-left: 1rem;
	margin-right: auto;
}

.p-datepicker .p-datepicker-calendar td span,
.p-datepicker .p-datepicker-calendar .p-ripple {
	transition: outline ease 0.1s;
}

.p-button:focus,
.p-datepicker table td > span:focus,
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
	outline: 3px solid $black !important;
}
