.outlined {
	&:focus {
		outline: black;
		outline-style: solid;
	}
}
a {
	@extend .outlined;
}
button,
.btn {
	@extend .outlined;
	@extend .button;
}

.btn--full {
	@extend .is-block;
}

button {
	&.is-white {
		&:hover {
			background: $secondary_color;
			color: $white;
		}
	}
}

.btn-primary {
	@extend .is-primary;
}

.is-warning {
	@extend .is-warning;
}

.btn--info {
	@extend .is-info;
}

.btn--danger {
	@extend .is-danger;
}
