<app-stepper [step_current]="2" [step_max]="pollService.step_max"></app-stepper>
<div class="step step-container form-field poll-kind">
	<form action="#" [formGroup]="pollService.form">
		<div class="min-height">
			<app-errors-list [form]="pollService.form"></app-errors-list>
			<h1 class="title is-3">
				{{ 'creation.want' | translate }}
			</h1>
			<div class=" ">
				<fieldset class="kind-of-poll has-no-border">
					<legend class="sr-only">{{ 'resume.kind' | translate }}</legend>
					<div
						class="button input-radio is-fullwidth has-background-kind-date"
						[ngClass]="{
							'is-selected': pollService.form.value.isAboutDate != false
						}"
						(click)="pollService.form.controls.isAboutDate.setValue(true)"
					>
						<!--						<img class="icon" src="assets/img/kind_date.svg" alt="icone cal" />-->
						<label for="isAboutDate_true">
							{{ 'creation.kind.date' | translate }}
						</label>
						<input type="radio" formControlName="isAboutDate" [value]="true" id="isAboutDate_true" />
					</div>

					<div
						class="button input-radio is-fullwidth has-background-kind-classic"
						[ngClass]="{
							'is-selected': !pollService.form.controls.isAboutDate.value != false
						}"
						(click)="pollService.form.controls.isAboutDate.setValue(false)"
					>
						<!--						<img class="icon" src="assets/img/kind_classic.svg" alt="icone chart" />-->

						<label for="isAboutDate_false">
							{{ 'creation.kind.classic' | translate }}
						</label>
						<input type="radio" formControlName="isAboutDate" [value]="false" id="isAboutDate_false" />
					</div>
				</fieldset>
			</div>
		</div>
	</form>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
