<div class="home_link">
	<a class="button" routerLink="/" aria-roledescription="home">
		<h1>
			<span class="logo_first">Frama</span>
			<span class="logo_second">Sondage</span>
		</h1>
	</a>
	<a class="button legend" href="https://framasoft.org/" target="_blank">
		proposé par
		<span class="legend_first">Frama</span>
		<span class="legend_second">soft</span>
	</a>
</div>
