@import '../../../../styles/variables';
.big-header {
	height: $header-nav-height;
	padding-top: 1rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	position: fixed;
	top: 0;
	width: 100%;
	background: $white;
	z-index: 2;
}
.app-title {
	color: $white !important;
	line-height: 4rem;
	display: inline-block;
}
.header-app-logo {
	width: $logo-side;
	height: $logo-side;
}
.navbar-item {
	a {
		&:hover {
			background: $primary_color;
			color: $white;
		}
	}
	img {
		max-height: $header-nav-height;
	}

	.fa {
		margin: 0 1ch;
	}
}

.give-to-project {
	.button {
		background: transparent;
	}
}

app-language-selector {
	.fa {
		color: $white;
	}
}
