<div class="actions">
	<button class="button" (click)="displayMenu = false">
		{{ 'SENTENCES.Close' | translate }}
		<i class="fa fa-times"></i>
	</button>
	<button class="export export-print btn" (click)="print()">
		<i class="fa fa-print"></i>
		{{ 'participation.modal.options.print' | translate }}
	</button>
	<button class="export export-csv btn" (click)="exportCSV()">
		<i class="fa fa-file-calc-o" aria-hidden="true"></i>
		{{ 'participation.modal.options.export_csv' | translate }}
	</button>
	<button class="export export-json btn" (click)="exportJson()">
		<i class="fa fa-file-archive-o" aria-hidden="true"></i>
		JSON
	</button>
	<button class="replicate duplicate btn" (click)="duplicate()">
		<i class="fa fa-copy" aria-hidden="true"></i>
		{{ 'success.copy' | translate }}
	</button>

	<!--	<div id="export_and_share">-->
	<!--		<div class="sharing" *ngIf="pollService.poll">-->
	<!--			<div class="margin-top-x8">-->
	<!--				Lien administrateur-->

	<!--				<i class="fa fa-share" aria-hidden="true"></i>-->
	<!--			</div>-->
	<!--			<p class="nobold text-14" for="copyLink">-->
	<!--				<a href="{{ pollService.getParticipationUrl() }}"> {{ pollService.getParticipationUrl() }} </a>-->
	<!--				<app-copy-text [textToCopy]="pollService.getParticipationUrl()"></app-copy-text>-->
	<!--			</p>-->
	<!--		</div>-->
	<!--	</div>-->
	<div class="admin-actions" *ngIf="pollService._poll.getValue().admin_key">
		<button class="replicate duplicate button has-text-warning" (click)="deleteAllVotes()">
			<i class="fa fa-user-times" aria-hidden="true"></i>
			{{ 'participation.modal.options.delete_votes' | translate }}
		</button>
		<button class="replicate duplicate button has-text-warning" (click)="deleteAllComments()">
			<i class="fa fa-comments-o" aria-hidden="true"></i>
			{{ 'participation.modal.options.delete_comments' | translate }}
		</button>
		<button class="replicate duplicate button has-text-danger" (click)="deletePoll()">
			<i class="fa fa-trash" aria-hidden="true"></i>
			{{ 'participation.modal.options.delete_poll' | translate }}
		</button>
	</div>
</div>
