@import '../../../../../../styles/variables';

.step-five {
	.title-step {
		font-weight: bold;
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 1rem !important;
	}
	.decription {
		margin-bottom: 2rem;
	}
}
