<app-stepper [step_current]="5" [step_max]="pollService.step_max"></app-stepper>
<div class="step step-five">
	<div class="min-height">
		<section class="supplement">
			<app-errors-list [form]="pollService.form"></app-errors-list>
			<div class="advanced-config">
				<h1 class="title-step title is-1">
					{{ 'advanced.title' | translate }}
				</h1>
				<p class="decription">
					{{ 'advanced.description' | translate }}
				</p>
				<div class="complete" *ngIf="environment.advanced_options_display">
					<app-advanced-config [form]="pollService.form"></app-advanced-config>
				</div>
			</div>
		</section>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="
		pollService.form.value.isAboutDate ? pollService.step_current - 1 : pollService.step_current - 2
	"
></app-nav-steps>
