<app-stepper [step_current]="6" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height">
	<div class="min-height">
		<form action="#" [formGroup]="pollService.form">
			<h1 class="title is-2">
				{{ 'owner.title' | translate }}
			</h1>
			<label for="name">
				{{ 'owner.name_label' | translate }}
			</label>
			<input class="input" type="text" id="name" formControlName="creatorPseudo" />
			<label for="email">
				{{ 'owner.email_label' | translate }}
				<span class="required-label" *ngIf="environment.creation_email_is_required">
					{{ 'validation.required' | translate }}
				</span>
			</label>
			<p class="description">
				{{ 'owner.email_description' | translate }}
			</p>
			<input class="input" type="email" id="email" formControlName="creatorEmail" />
		</form>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
	[next_is_disabled]="!pollService.form.value.creatorEmail || !pollService.form.value.creatorPseudo"
></app-nav-steps>
