$theme-color-primary: #1b6d85;
$theme-color-secondary: #1b6d85;
$theme-color-tertiary: #ccc;
#big_container {
	&.theme-dark-crystal {
		background: #222;
		color: $theme-color-tertiary;

		main,
		.big-header,
		.navbar,
		footer {
			background: #444;
		}
		.big-header {
			color: $white;
			a {
				color: $white;
			}
		}
		input {
			background: #222;
			color: $white;
		}

		h1::after {
			background-color: $theme-color-primary;
		}

		.btn--primary:focus,
		.btn--primary:hover,
		.btn--primary:active,
		.btn--primary {
			background-color: $theme-color-secondary;
		}

		.btn--warning:focus,
		.btn--warning:hover,
		.btn--warning:active,
		.btn--warning {
			background-color: $theme-color-secondary;
		}

		select {
			background: $theme-color-tertiary;
			border-color: $theme-color-secondary;

			&:hover {
				color: $theme-color-tertiary;
			}
		}

		.title {
			color: $theme-color-tertiary;
		}

		.lang_icon,
		.menu_icon {
			fill: $theme-color-secondary !important;
			color: $theme-color-secondary !important;
		}

		label {
			color: $theme-color-tertiary;
		}

		// bulma override
		.button.is-primary,
		.button.btn--primary,
		button.is-primary,
		button.btn--primary,
		.is-primary.btn,
		.btn.btn--primary,
		.is-primary.back,
		.back.btn--primary {
			background-color: $theme-color-primary !important;
			color: $theme-color-tertiary !important;
		}
		.navbar-dropdown a.navbar-item {
			color: #444;
		}
		// material override
		.navbar-dropdown a.navbar-item.is-active,
		body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number,
		a.navbar-item:focus,
		a.navbar-item:focus-within,
		a.navbar-item:hover,
		a.navbar-item.is-active,
		.navbar-link:focus,
		.navbar-link:focus-within,
		.navbar-link:hover,
		.navbar-link.is-active {
			color: $theme-color-primary !important;
		}

		.navbar-link:not(.is-arrowless)::after {
			border-color: $theme-color-primary;
		}

		body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled) .ui-inputswitch-slider {
			background-color: $theme-color-primary;
		}
	}
}
