<app-stepper [step_current]="7" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height step-resume">
	<div class="columns content">
		<div class="column">
			<h2 class="title is-2">
				{{ 'resume.title' | translate }}
			</h2>
			<p class="helper description">
				{{ 'resume.description' | translate }}
			</p>
			<div class="resume">
				<h3 class="title is-3">{{ 'resume.general' | translate }}</h3>
				<div class="block-resume">
					<h4 class="title is-4">
						{{ pollService.form.value.title }}
						<i *ngIf="!pollService.form.value.title">
							(pas de titre)
						</i>
					</h4>
					<p class="description">
						{{ pollService.form.value.description }}
						<i *ngIf="!pollService.form.value.description">
							{{ 'resume.no_description' | translate }}
						</i>
					</p>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/1']">
						<img class="icon" src="assets/icons/edit.svg" alt="icone crayon" />
						{{ 'resume.edit' | translate }}
					</div>
				</div>
				<h3 class="title is-3">{{ 'resume.kind' | translate }}</h3>
				<div class="block-resume">
					{{ pollService.form.value.isAboutDate ? 'Date' : 'Propositions' }}
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/2']">
						<img class="icon" aria-hidden="true" src="assets/icons/edit.svg" />
						{{ 'resume.edit' | translate }}
					</div>
				</div>
				<h3 class="title is-3">{{ 'resume.dates_and_hours' | translate }}</h3>
				<div class="block-resume">
					<div class="list-datechoices" *ngIf="pollService.form.value.isAboutDate">
						<ul *ngFor="let choice of pollService.dateChoiceList">
							<li>
								<strong class="date">
									{{ choice.date_object | date: 'E d/M/yyy':'Europe/Paris' }}
								</strong>
								<ul *ngFor="let timeSlice of choice.timeSlices">
									<li>
										{{ timeSlice.literal }}
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="list-texts" *ngIf="!pollService.form.value.isAboutDate">
						<ul *ngFor="let choice of pollService.choices">
							<li>
								{{ choice }}
							</li>
						</ul>
					</div>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/3']">
						<img class="icon" aria-hidden="true" src="assets/icons/edit.svg" />
						{{ 'resume.edit' | translate }}
					</div>
				</div>
				<h3 class="title is-3">{{ 'resume.params_notifs' | translate }}</h3>
				<div class="block-resume">
					<div class="password">
						Protégé par mot de passe: {{ pollService.form.value.password ? 'oui' : 'non' }}
					</div>
					<hr />
					<div class="go-to-step clickable" [routerLink]="['/administration/step/4']">
						<img class="icon" aria-hidden="true" src="assets/icons/edit.svg" />
						{{ 'resume.edit' | translate }}
					</div>
				</div>
				<h3 class="title is-3">{{ 'resume.owner' | translate }}</h3>
				<div class="block-resume">
					<div class="name">
						<strong>
							{{ 'SENTENCES.your-name' | translate }}
						</strong>
						{{ pollService.form.value.creatorPseudo }}
					</div>
					<div class="email">
						<strong>
							{{ 'creation.email' | translate }}
						</strong>
						{{ pollService.form.value.creatorEmail }}
					</div>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/6']">
						<img class="icon" aria-hidden="true" src="assets/icons/edit.svg" />
						{{ 'resume.edit' | translate }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
	[is_finish_step]="true"
></app-nav-steps>
