.text-ellipsis {
	text-overflow: ellipsis;
	max-width: 100%;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.boxed-shadow {
	background: $white;
	box-shadow: $dark-lavender 0 0 10px;
}

.is-boxed {
	border: 1px solid #ddd;
	padding: 1em;
	margin: 1em 0;
}

.nobold {
	font-weight: normal;
}

.hidden {
	display: none;
}

.padded {
	padding: 1em;
}

.marged {
	margin: 1em;
}
.marged-right {
	margin-right: 1em;
}
.marged-v {
	margin-top: 1em;
	margin-bottom: 1em;
}
.marged-auto {
	margin: 0 auto;
}

.fixed-box {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.rounded-block {
	border-radius: 0.25em;
	background: $d-blue30;
	padding: 1em;
	margin-bottom: 1rem;

	hr {
		margin: 0.5em -1em;
		background: $rules;
	}

	.go-to-step,
	.custom-action {
		@extend .clickable;
		color: $secondary_color;
		padding: 1.5em;
		border-radius: 0.25em;

		&:hover {
			background: $secondary_color;
			color: $white;
		}
	}
}

.has-no-background {
	background: none;
}
.has-no-outline,
.has-no-border {
	border: none;
}
.has-no-padding {
	padding: 0;
}

.is-filtered-icon-primary {
	filter: invert(48%) sepia(68%) saturate(6489%) hue-rotate(233deg) brightness(89%) contrast(81%);
}
.is-large-button {
	width: 100%;
	display: block;
}

.has-no-padd-left {
	padding-left: 0;
}
.has-background-icon-left {
	padding-left: 33px;
}
// icone bg
.has-background-transparent {
	background-color: transparent;
}
.has-background-plus {
	background: url('/assets/icons/plus-circle.svg') no-repeat left center;
	//background: $d-blue30 url('/assets/img/kind_classic.svg') no-repeat 19px center;
}
