@import '../../../../../../styles/variables';

.ui-datepicker table td.ui-datepicker-today > a.ui-state-active,
.ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
	background-color: $primary-color !important;
}

.calendar {
	margin-top: 1em;
}

.text-date-list {
	margin-top: 1em;
}

.is-secondary {
	border-color: $primary-color;
	color: $primary-color;

	&:hover {
		background: $primary_color;
		color: $white;
	}
}

.date-input-selector {
	padding: 0.25rem 1rem;
}

.hide-back-button {
	p-calendar {
		.p-datepicker-prev {
			display: none !important;
		}
	}
}
