@import '../../../../../../styles/variables';
@import '../../../../../../styles/dev-utilities/helpers';

.custom-day-time-slices {
	.heading-day-choice {
		font-size: 1.25rem;
		line-height: 1.25rem;
		color: $d-black;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

.time-slice-list-of-a-day {
	label {
		line-height: 2.25rem;
		margin-bottom: 0;
	}

	input {
		width: calc(100% - 2rem);
		margin-bottom: 1rem;
	}

	.button {
		color: $primary_color;

		.icon {
			margin-right: 1rem;
			fill: $primary_color;
		}
	}

	#close_dialog {
		border: 0;
		color: $primary !important;

		.icon {
			margin-left: 1rem;
			height: 1.5em;
			width: 1.5em;
		}
	}

	.add-time-choice {
		margin-top: 0.5rem;

		.button {
			justify-content: inherit;
			background: transparent;
		}
	}

	.delete-hour {
		background: transparent;
		font-size: 0.8rem;
		width: 2rem;
		padding: 0;
		float: right;
		margin-top: -3rem;
		margin-right: 0;
		margin-bottom: 0;
	}
}
