<div class="admin-consultation min-height padded">
	<h2 class="title is-2">Consulter le sondage</h2>
	<button class="btn is-primary" [routerLink]="'/administration'">
		<i class="fa fa-pencil"></i>
		{{ 'resume.edit' | translate }}
	</button>
	<div>
		<h2>{{ form.value.title }}</h2>

		<div *ngIf="poll">
			<h2>{{ poll.title }}</h2>

			{{ 'participation.created_at' | translate }} {{ poll.created_at | date }} {{ 'validation.by' | translate }}
			{{ poll.owner.pseudo }}
			<span class="creator_email">
				{{ poll.owner.email }}
			</span>
		</div>
	</div>
</div>
