<div class="text-choices rounded-block" *ngIf="poll.kind == 'text'">
	<div class="text-choice" *ngFor="let choice of poll.choices_grouped; index as ii">
		<div class="choice-label">
			{{ choice.date_string }}
		</div>
		<app-choice-table [choice]="choice" [detailledDisplay]="detailledDisplay"></app-choice-table>
	</div>
</div>
<div class="date-choices" *ngIf="poll.kind == 'date'">
	<div class="rounded-block" *ngFor="let group of poll.choices_grouped">
		<div class="date-label">
			{{ showAsDate(group.date_string) | date: 'fullDate':'Europe/Paris' }}
		</div>
		<div class="list-of-choices">
			<div class="date-choices">
				<div class="time-slice-choice white-block" *ngFor="let choice of group.choices; index as ii">
					<div class="columns is-vcentered time-span-display">
						<div class="column">
							<div class="choice-label">
								{{ choice.name }}
							</div>
						</div>
						<div class="column is-narrow">
							<span class="max_score" *ngIf="poll.max_score > 0 && choice.score == poll.max_score">
								<i class="fa fa-star fa-2x"></i>
								{{ choice.score }}
							</span>
						</div>
						<div class="column is-narrow">
							<div class="buttons"></div>
						</div>
					</div>
					<div class="choice-header" *ngIf="poll.max_score > 0"></div>

					<app-choice-table
						[choice]="choice"
						[detailledDisplay]="detailledDisplay"
						[countMaxVotesForThisAnswer]="getMax(choice)"
					></app-choice-table>
				</div>
			</div>
		</div>
	</div>
</div>
