<div class="admin-form">
	<section class="min-height padded">
		<router-outlet>
			<app-step-one [form]="form"></app-step-one>
		</router-outlet>

		<app-errors-list [form]="pollService.form"></app-errors-list>
	</section>
</div>
