<app-stepper [step_current]="1" [step_max]="2"></app-stepper>
<div class="step">
	<h3 class="title is-3">
		{{ 'participation.voting_title' | translate }}
	</h3>

	<!--	<div class="date-choices" *ngIf="pollService.poll.kind == 'date'">-->
	<!--		<div class="box" *ngFor="let group of poll.choices"></div>-->
	<!--	</div>-->

	<div class="" *ngIf="poll">
		<div class="time-slice-choice rounded-block" *ngFor="let group_choice of poll.choices_grouped">
			<div class="groupe-label">
				<!--				<span  *ngIf="poll.kind == 'text'">-->
				<!--				{{group_choice.date_string}}-->
				<!--				</span>-->
				<span *ngIf="poll.kind == 'date'">
					{{ dateFromString(group_choice.date_string) | date: 'EEEE dd MMMM':'Europe/Paris' }}
				</span>
				<!--				{{ (dayStringFromDateString(group_choice.date_string))| translate}}-->
				<!--				{{"calendar_widget.dayNames.Thursday" | translate}}-->
			</div>
			<div class="choice-subset" *ngFor="let choice of group_choice.choices">
				<div class="choice-label">
					{{ choice.name }}
				</div>

				<div class="choice-buttons" *ngIf="poll.allowed_answers">
					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'YES'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('yes') !== -1"-->

					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'NO'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('no') !== -1"-->
					<app-choice-button-dinum
						[poll]="poll"
						[choice]="choice"
						[answerKind]="'MAYBE'"
					></app-choice-button-dinum>
					<!--					*ngIf="poll.allowed_answers?.indexOf('maybe') !== -1"-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="no-poll" *ngIf="!poll">
	no poll
</div>
<div class="bottom-step-buttons" *ngIf="poll">
	<div class="contained-in-main-column">
		<button
			class="button is-default pull-left"
			[routerLink]="['/poll/' + pollService._poll.getValue().custom_url + '/consultation']"
		>
			{{ 'SENTENCES.Back' | translate }}
		</button>
		<button
			class="button-next is-primary pull-right"
			[routerLink]="['/poll/' + poll.custom_url + '/consultation/vote/user-infos']"
		>
			<b>
				{{ 'nav.next' | translate }}
			</b>
		</button>
	</div>
</div>
