.app-choice-button-dinum {
	button {
		margin-right: 1rem;
		display: inline-block;
	}
	.groupe-label {
		color: #383838;
		font-weight: bold;
		font-size: 1.85rem;
	}
	.choice-label {
		font-weight: bold;
		font-size: 1rem;
	}
}
