.loading_poll {
	position: fixed;
	bottom: 5em;
	left: 1em;
	z-index: 10;
}

.poll_loaded {
	.title {
		margin-bottom: 0;
	}
	.description {
		min-height: 2rem;
	}
}
.options-button {
	border: 0;
	background: transparent;
}
.vote-button {
	margin-right: 2rem;
}
